{{ $lang := .Get 1 }}
{{ $imglbl := cond (eq $lang "en") "Image:" "Imágen:" }}
{{ $loadlbl := cond (eq $lang "en") "Load" "Cargar" }}
{{ $keeplastlbl := cond (eq $lang "en") "Keep Last Used Tag" "Mantener Última Etiqueta" }}
{{ $offsetxlbl := cond (eq $lang "en") "X Offset:" "Deplazamiento X:" }}
{{ $offsetylbl := cond (eq $lang "en") "Y Offset:" "Deplazamiento Y:" }}
{{ $sizelbl := cond (eq $lang "en") "Size:" "Tamaño:" }}
{{ $waitinglbl := cond (eq $lang "en") "Waiting" "Esperando" }}
{{ $clearlbl := cond (eq $lang "en") "Clear" "Borrar" }}
{{ $startinglbl := cond (eq $lang "en") "Starting Point" "Coordenada Inicial" }}
{{ $dataptslbl := cond (eq $lang "en") "Data Points:" "Datos Acumulados:" }}
{{ $downloadlbl := cond (eq $lang "en") "Download" "Descargar" }}
{{ $addtaglbl := cond (eq $lang "en") "Add a new tag" "Agregar Etiqueta" }}
{{ $entertaglbl := cond (eq $lang "en") "Enter new tag:" "Ingresa nueva etiqueta:" }}
{{ $applylbl := cond (eq $lang "en") "Apply" "Aplicar" }}
{{ $recordinglbl := cond (eq $lang "en") "Recording" "Grabando" }}
{{ $pointlbl := cond (eq $lang "en") "Point" "Coordenada" }}
{{ $startlbl := cond (eq $lang "en") "Start" "Grabar" }}

<!-- edges src -->
<form>
  <br>
  <div id="img-loader" class="input-group mb-3" style="display: none;">
    <span class="input-group-text">{{ $imglbl }}</span>
    <input type="text" id="img-path" class="form-control" 
        placeholder="https://source.unsplash.com/WLUHO9A_xik/800x600" 
        aria-label="https://source.unsplash.com/WLUHO9A_xik/800x600" aria-describedby="image-text-message">
    <button id="load-photo" type="button" class="btn btn-primary">{{ $loadlbl }}</button>
  </div>
  <br>
  <div class="input-group mb-3">
    <div class="input-group-text">
      <input type="checkbox" id='repeat-used-tag' aria-label="Checkbox for following text input">
    </div>
    <span class="input-group-text">{{ $keeplastlbl }}</span>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-text">{{ $offsetxlbl }}</span>
    <input type="text" id="offsetX" class="form-control" placeholder="0" aria-label="0" aria-describedby="textMessage" onkeypress="validateKey(event, 'X')">
    <span class="input-group-text">{{ $offsetylbl }}</span>
    <input type="text" id="offsetY" class="form-control" placeholder="0" aria-label="0" aria-describedby="textMessage" onkeypress="validateKey(event, 'Y')">
    <span class="input-group-text">{{ $sizelbl }}</span>
    <input type="text" id="node-size" class="form-control" placeholder="10" aria-label="10" aria-describedby="textMessage" >
    <button id="record-poly" type="button" class="btn btn-primary" disabled>{{ $waitinglbl }}</button>
    <button id="clear-poly" type="button" class="btn btn-primary" disabled onclick="clearResults()">{{ $clearlbl }}</button>
  </div>
</form>
<br>
<label id="progress-label">{{ $startinglbl }}: 0,0</label>
<div id="canvas-container"></div>

<label>{{ $dataptslbl }}</label>
<br>
<div id="export-link" style="display: none;">
  <a id="export-data" href="data:application/octet-stream,field1%2Cfield2%0Afoo%2Cbar%0Agoo%2Cgai%0A" download="polygon.csv">{{ $downloadlbl }}</a>
</div>
<div id="resulting-points"></div>

<div id="contextMenu" class="dropdown clearfix">
  <ul class="dropdown-menu" id="menu-tags" role="menu" aria-labelledby="dropdownMenu" style="display:block; position:static;margin-bottom:5px;">
    <li><a class="dropdown-item" id="add-new-tag-option" tabindex="-1" href="#" data-bs-toggle="modal" data-bs-target="#add-new-tag">{{ $addtaglbl }}</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</div>
<!-- Modal -->
<div class="modal fade" id="add-new-tag" tabindex="-1" aria-labelledby="addNewTagLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="new-tag-description">{{ $entertaglbl }}</span>
          </div>
          <input type="text" class="form-control" id="new-tag-input-field" placeholder="Empty" aria-label="Empty" aria-describedby="new-tag-description">
          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="applyNewTag()">{{ $applylbl }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  #contextMenu {
    position: absolute;
    display:none;
  }
</style>
<script>
  BrewingCatsCore.Logger.traceInfo(
    `Polygonmaker Component`,
    'component.polygonmaker',
    'tagId_g',
    'ComponentSetup',
    {
      'component': 'Polygonmaker',
    }
  );

  var startPoint = {
    x: -1,
    y: -1
  };

  var recordingEnabled = false;
  var source = '{{.Get 0}}';
  var btn = $('#record-poly');
  var clearBtn = $('#clear-poly');
  var results = $('#resulting-points');
  var lbl = $('#progress-label')[0];
  var exportData = $('#export-data');
  $('#export-link').on('click', (e) => {
    BrewingCatsCore.Logger.traceInfo(
      `Downloading Interactions`,
      'component.polygonmaker',
      'tagId_i',
      'ComponentInteraction',
      {
        'component': 'Polygonmaker',
        'size': `${exportData.attr('href').length}`
      }
    );
  });
  
  var canvas;
  var ctx;
  var img;
  var customLabels = [];
  var lastLabelUsed = 'Empty';
  var currentCoords = {};

  if (source === 'fromUrl') {
    let url = new URL(document.location.toString());
    source = url.searchParams.get('url');
    loadImg(source);
  } else if (source === 'prompt') {
    $('#img-loader').css('display', 'flex');
    $('#load-photo')[0].addEventListener('click', (e) => {
      let el = $('#img-path');
      let val = el.val();
      if (val == "") {
        val = el.attr('aria-label');
      }

      loadImg(val);
      source = val;
    });
  } else {
    loadImg(source);
  }
  
  btn[0].addEventListener('click', (event) => {
    recordingEnabled = true;
    $("#export-link").css('display', 'block');
    exportData.attr('href', 'data:application/octet-stream, x%2Cy%2Ctag%0A');
    btn[0].innerText = '{{ $recordinglbl }}';
  });

  var useLastTagSel = $('#repeat-used-tag')[0];
  var $contextMenu = $("#contextMenu");
  
  $contextMenu.on("click", "a", (e) => {
    let iTag = e.currentTarget.innerText;
    if (iTag === '{{ $addtaglbl }}') {
      $contextMenu.hide();
      return;
    }

    lastLabelUsed = iTag;
    finalizeTag(iTag);
    $contextMenu.hide();
  });

  // Close context menu when clicking outside of it
  $(document).mouseup((e) => {
    // if the target of the click isn't the container nor a descendant of the container
    if (!$contextMenu.is(e.target) && $contextMenu.has(e.target).length === 0) 
    {
      $contextMenu.hide();
    }

  });
  
  // Close context menu on Esc key
  $(document).keyup((e) => {
    e = e || window.event
    if (e.key === 'Escape') {
      $contextMenu.hide();
    }
  });

  // === Function section ===
  function loadImg(src) {
    img = new Image();
    img.crossOrigin = 'anonymous';
    img.src = src;
    
    img.onload = () => {
      BrewingCatsCore.Logger.traceInfo(
        `Loading custom image`,
        'component.polygonmaker',
        'tagId_h',
        'ComponentInteraction',
        {
          'component': 'Polygonmaker',
          'dimensions': `w:${img.width}  h:${img.height}`
        }
      );

      let canvasContainer = $('#canvas-container');
      let maxWidth = 990;
      let width = img.width;
      if (img.width > maxWidth) {
        width = maxWidth;
      }

      let canvasHeight = img.height;
      if (img.width > maxWidth) {
        canvasHeight = (maxWidth / img.width) * img.height;
      }

      img.lockUniScaling = true;
      let div = $(`<canvas id="img-canvas" style="display: block; margin-left: auto; margin-right:auto; max-width: min-content;" width="${width}" height="${canvasHeight}" ></canvas>`);
      canvasContainer.append(div);
      canvas = $('#img-canvas')[0];
      ctx = canvas.getContext('2d');

      let hRatio = canvas.width / img.width;
      let vRatio = canvas.height / img.height;
      let ratio  = Math.min ( hRatio, vRatio );
      ctx.drawImage(img, 0,0, img.width, img.height, 0,0,img.width*ratio, img.height*ratio);
      img.style.display = 'none';
  
      btn.attr('disabled', false);
      btn[0].innerText = '{{ $startlbl }}';
      clearBtn.attr('disabled', false);
      
      canvas.addEventListener('click', (event) => {
        if (!recordingEnabled) {
          return;
        }

        if (startPoint.x == -1 && startPoint.y == -1) {
          startPoint.x = event.layerX;
          startPoint.y = event.layerY;
          ctx.beginPath();
          ctx.moveTo(event.layerX, event.layerY);
        } else {
          ctx.lineTo(event.layerX, event.layerY);
          ctx.stroke();
        }
        
        let pixel = ctx.getImageData(event.layerX, event.layerY, 1, 1).data;
        let offsetX = isNaN(parseInt($('#offsetX').val()))? 0 : parseInt($('#offsetX').val());
        let offsetY = isNaN(parseInt($('#offsetY').val()))? 0 : parseInt($('#offsetY').val());
        let msg = `(${event.layerX + offsetX}, ${offsetY - event.layerY}) rgba(${pixel[0]}, ${pixel[1]}, ${pixel[2]}, ${pixel[3] / 255})`;
        console.log(msg);
        lbl.innerText = '{{ $pointlbl }}' + `: ${msg}`;
        let deltaItem = parseInt($('#node-size').val());
        if (isNaN(deltaItem) || deltaItem < 2) {
          deltaItem = 10;
        }

        ctx.rect(event.layerX - parseInt(deltaItem / 2), event.layerY - parseInt(deltaItem / 2), deltaItem, deltaItem);
        ctx.stroke();
        ctx.moveTo(event.layerX, event.layerY);
        let tag = 'Empty';
        if (useLastTagSel.checked) {
          tag = lastLabelUsed;
        }

        logPoint(event.layerX + offsetX, offsetY - event.layerY, tag);
      });

      // Right click
      canvas.addEventListener('contextmenu', (event) => {
        if (!recordingEnabled) {
          return false;
        }

        if (startPoint.x == -1 && startPoint.y == -1) {
          startPoint.x = event.layerX;
          startPoint.y = event.layerY;
          ctx.beginPath();
          ctx.moveTo(event.layerX, event.layerY);
        } else {
          ctx.lineTo(event.layerX, event.layerY);
          ctx.stroke();
        }
        
        let pixel = ctx.getImageData(event.layerX, event.layerY, 1, 1).data;
        let offsetX = isNaN(parseInt($('#offsetX').val()))? 0 : parseInt($('#offsetX').val());
        let offsetY = isNaN(parseInt($('#offsetY').val()))? 0 : parseInt($('#offsetY').val());
        let msg = `(${event.layerX + offsetX}, ${offsetY - event.layerY}) rgba(${pixel[0]}, ${pixel[1]}, ${pixel[2]}, ${pixel[3] / 255})`;
        console.log(msg);
        lbl.innerText = `{{ $pointlbl }}: ${msg}`;
        let deltaItem = parseInt($('#node-size').val());
        if (isNaN(deltaItem) || deltaItem < 2) {
          deltaItem = 10;
        }

        ctx.rect(event.layerX - parseInt(deltaItem / 2), event.layerY - parseInt(deltaItem / 2), deltaItem, deltaItem);
        ctx.stroke();
        ctx.moveTo(event.layerX, event.layerY);
        $contextMenu.css({
          display: "block",
          left: event.pageX,
          top: event.pageY
        });

        currentCoords = {
          x: event.layerX + offsetX,
          y: offsetY - event.layerY
        };

        event.preventDefault();
      }, false);
    };
  }

  function logPoint(x, y, tag) {
    let dataPoint = $(`<span>${x}, ${y}, ${tag}</span><br>`);
    results.append(dataPoint);
    exportData.attr('href', `${exportData.attr('href')}${x}%2C${y}%2C${encodeURI(tag)}%0A`);
  }

  function validateKey(e, src) {
    let val = $(`#offset${src}`).val();
    if (val == "") {
      btn.attr('disabled', false);
      return;
    }

    if (isNaN(parseInt(val))) {
      btn.attr('disabled', true);
    } else {
      btn.attr('disabled', false);
    }
  }

  function clearResults() {
    results[0].innerHTML = "";
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    let hRatio = canvas.width / img.width;
    let vRatio = canvas.height / img.height;
    let ratio  = Math.min ( hRatio, vRatio );
    ctx.drawImage(img, 0,0, img.width, img.height, 0,0,img.width*ratio, img.height*ratio);
    startPoint.x = -1;
    startPoint.y = -1;
    btn[0].innerText = '{{ $startlbl }}';
    recordingEnabled = false;
  }

  function applyNewTag() {
    let nTag = $('#new-tag-input-field').val();
    if (customLabels.indexOf(nTag) === -1) {
      customLabels.push(nTag);
      $('#menu-tags').append(`<li><a class="dropdown-item" tabindex="-1">${nTag}</a></li>`);
    }
    
    // Attach event listener
    lastLabelUsed = nTag;
    $('#add-new-tag').modal('hide');
    $('#new-tag-input-field').val('');
    finalizeTag(nTag);
  }

  function finalizeTag(tag) {
    logPoint(currentCoords.x, currentCoords.y, tag);
  }
</script>