{{/*< unsplash "lang" "photo_id" "author" "caption" >*/}}
{{/*              0        1        2         3      */}}
{{ $lang := .Get 0 }}
{{ $imgCrd := cond (eq $lang "es") "Créditos de la Imagen" 
  (cond (eq $lang "fr") "Crédits images" 
  (cond (eq $lang "ru") "Кредиты изображений" 
  (cond (eq $lang "ko") "이미지 크레딧" 
  "Image Credits"))) }}

{{ $imgBy := cond (eq $lang "es") "imagen de" 
  (cond (eq $lang "fr") "image par" 
  (cond (eq $lang "ru") "изображение" 
  (cond (eq $lang "ko") "이미지" 
  "image by"))) }}

{{ $imgCrd }}: 
<a href="https://unsplash.com/photos/{{.Get 1 }}?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText&ref={{ $.Page.Site.Params.siteRef }}" target="_blank" 
style="color: rgb(34, 34, 34); box-shadow: rgb({{ $.Page.Site.Params.theme_color }}) 0px -4px 0px inset; text-decoration: none; " 
onMouseOver="BrewingCatsCore.LinkActions.mouseover(this)"
onMouseOut="BrewingCatsCore.LinkActions.mouseout(this)">{{.Get 3 }}</a> 
{{ $imgBy }} <a href="https://unsplash.com/@{{.Get 2}}/?ref={{ $.Page.Site.Params.siteRef }}" target="_blank"
style="color: rgb(34, 34, 34); box-shadow: rgb({{ $.Page.Site.Params.theme_color }}) 0px -4px 0px inset; text-decoration: none; " 
onMouseOver="BrewingCatsCore.LinkActions.mouseover(this)"
onMouseOut="BrewingCatsCore.LinkActions.mouseout(this)">@{{.Get 2}}</a>
